*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 720px;
    width: 100%;
    background-color: lightgrey;
}

.container{
    width: 80%;
    background-color: red;
}

nav{
    height: 120px;
    display: flex;
    justify-content: space-between;
}

nav *{
    width: 300px;
    height: 120px;
    background-color: aquamarine;
}

.content-box{
    width: 60%;
    height: 600px;
    background-color: orange;
    
}

.auto{
    margin: auto;
}

.columns-cont{
    width: 80%;
    padding: 15px;
}

.col{
    height: 280px;
    width: calc(90%/2);
    background-color: aquamarine;
    display: inline-block;
    
}

.l{
}

.r{
    margin-left: 9%;
}

.gray{
    background-color: gray;
}