*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 720px;
    width: 100%;
    background-color: lightgrey;
}

.container{
    width: 80%;
}

.red{
    background-color: red;

}

nav{
    height: 120px;
    display: flex;
    justify-content: space-between;
}

nav *{
    width: 300px;
    height: 120px;
    background-color: aquamarine;
}

.content-box{
    width: 60%;
    height: 600px;
    background-color: orange;
    
}

.auto{
    margin: auto;
}

.columns-cont{
    width: 80%;
    padding: 15px;
}

.col{
    height: 280px;
    width: calc(90%/2);
    background-color: aquamarine;
    display: inline-block;
    
}


.r{
    margin-left: 9%;
}

.gray{
    background-color: gray;
}

.lightg{
    background-color: lightgray;
}

.huge-container{
    height: 100vh;
}

.flex{
    display: flex;
}

.rows{
    width: 100%;
    height: calc(100vh/3);
}

.aqua{
    background-color: aquamarine;
}

.green{
    background-color: greenyellow;
}